<div class="main border border-dark">
    <div class="border-bottom border-dark">
        <div class="row m-2">
            <div class="col-xl-2">
                <span class="header-span header-text">Caso: </span>
                <span class="header-text">{{ticket.code}}</span>
            </div>
            <div class="col-xl-2">
                <span class="header-span header-text">Fecha: </span>
                <span class="header-text">{{ticket.date | ddMmYYYYDate}}</span>
            </div>
            <div class="col-xl-2">
                <span class="header-span header-text align-middle">Tiempo: </span>
                <span class="header-text align-middle">{{ticket.time}}</span>
            </div>
            <div class="col-xl-6">
                <span class="header-span header-text align-middle">Título: </span>
                <span class="header-text align-middle">{{ticket.title}}</span>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-lg-4">
                <form [formGroup]="managerSelect">
                    <label for="gestor">Gestor</label>
                    <select class="form-select d-inline w-75 ms-2" id="managerForm" formControlName="manager" title="gestor" name="gestor" (change)=changeTicketManager()>
                        <option *ngFor="let manager of managers" [value]="manager.username" [selected]="ticket.manager == manager.username?true:false">{{manager.name}}</option>
                    </select>
                </form>
            </div>
            <div class="col-lg-2 text-end ms-auto">
                <button type="button" class="me-2" *ngIf="ticket.state == 'A'">
                    <img title="cerrar_ticket" class="back-button" value="Cerrar Ticket" (click)="closeTicket()" src="assets/images/unlock.png">
                </button>
                <button type="button" *ngIf="ticket.state == 'C'" class="me-2">
                    <img title="reabrir_ticket" class="back-button" value="Reabrir Ticket" (click)="openTicket()" src="assets/images/lock.png">
                </button>
                <button type="button" routerLink="/tickets/list">
                    <img title="back-button" class="back-button" src="assets/images/back_icon.svg">
                </button>
            </div>
        </div>
    </div>

    <div class="border border-dark m-2 overflow-auto" #scrollChat [scrollTop]="ticket_messages.length == 0 ? 0: scrollChat.scrollHeight" id="ticket-container">
        <div class="col-9" *ngFor="let message of ticket_messages" [ngClass]="{'right': message.type == 'P', 'left': message.type == 'R'}">
            <p [ngClass]="{'user-msg-left': message.type == 'R'}" *ngIf="message.type == 'R'">{{user_response}}</p>
            <p [ngClass]="{'user-msg-right': message.type == 'P'}" *ngIf="message.type == 'P'">{{user_question}}</p>
            <p [ngClass]="{'msg-right': message.type == 'P', 'msg-left': message.type == 'R'}">{{message.text1 + message.text2 + message.text3}}</p>
            <a [ngClass]="{'time-msg-right': message.type == 'P', 'time-msg-left': message.type == 'R'}">{{message.date | ddMmYyyyHHMMDate}} <p *ngIf="message.time != '00:00:00'" [ngClass]="{'time-used-msg-right': message.type == 'P', 'time-used-msg-left': message.type == 'R'}">{{message.time}}</p></a>
            <img *ngIf="message.file" src="../../assets/images/file.png" [ngClass]="{'file-msg-right': message.type == 'P', 'file-msg-left': message.type == 'R'}" (click)="downloadFile(message.file)">
        </div>
    </div>
    <div class="row m-2" id="ticket-w-container">
        <form [formGroup]="sendTicketMsgForm" method="post" class="row mh-100" (ngSubmit)="sendMsg()">
            <div class="col-md-7 p-0">
                <textarea id="message-textarea-container" class="h-100 col-md-12 w-100 p-2" formControlName="description"></textarea>
            </div> 
            <div class="col-md-5 p-0">
                <div class="col-md-12 m-2">
                    <label for="file col-md-12">F.Adjunto</label>
                    <div class="col-md-12">
                        <input class="form-control d-inline" formControlName="file" type="file" (change)="onChangeFile($event)">
                    </div>
                </div>
                    
                <div class="col-md-12 m-2">
                    <label class="col-md-6 text-start" *ngIf="current_user.rol == 'admin'"><input formControlName="validation" type="checkbox"> Validación</label>
                    <label class="col-md-6 ps-2 text-end" *ngIf="current_user.rol == 'admin'"><input formControlName="time" type=time> Tiempo (HH/MM)</label>
                </div>
                <div class="col-md-12 m-2">
                    <input class="col-md-12" type="submit" value="Enviar" [disabled]="(sendTicketMsgForm.controls['description'].invalid && sendTicketMsgForm.controls['file'].invalid) || sendTicketMsgForm.controls['description'].value.length > 765">
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>