<div class="p-0 text-center border border-dark" id="side-nav">
    <div class="exit-option" (click)="toggleMenu()"><i class="fa-solid fa-xmark text-white fa-2xl"></i></div>
    <div class="col-md tickets_options border-bottom border-dark text-white" routerLink="/tickets/list"><h3>Listar Casos</h3></div>
    <div class="col-md tickets_options border-bottom border-dark text-white" routerLink="/tickets/create"><h3>Alta Caso</h3></div>
    <div class="col-md tickets_options border-bottom border-dark text-white" routerLink="/tickets/search"><h3>Búsqueda Casos</h3></div>
    <div class="col-md tickets_options border-bottom border-dark text-white" routerLink="/tickets/manual"><h3>Manuales</h3></div>
</div>

<div class="main border border-dark" id="main">
    <div class="row m-2">
        <div class="col-md-3 align-self-center mb-2 ">
            <span *ngIf="showMenu == false" class="btn p-0 me-3 mb-1" (click)="toggleMenu()">
                <i class="fa-solid fa-bars fa-2xl p-0" ></i>
            </span>
            <span class="text-underline">Alta de nuevo ticket</span>
        </div>
        <div class="col-md-2 align-self-center text-center ms-auto mb-2">
            <button type="button" class="options-button" [disabled]="ticketForm.invalid || ticketForm.disabled" (click)="sendTicket()">
                <img title="check_icon" class="options-images" src="assets/images/check_icon.png">
            </button>
            <button type="button" class="options-button">
                <img title="clear_icon" class="options-images" src="assets/images/broom_icon.svg" (click)="showConfirmModal('Limpiar formulario?', 'clear')">
            </button>
        </div>
    </div>

    <form [formGroup]="ticketForm" method="post">
        <div class="row m-0 ticket-background border-top border-dark">
            <div class="col-md-2 align-self-center mb-2">
                <label for="gestor">Gestor</label>
                <select class="form-select" formControlName="manager" name="gestor">
                            <option value="" selected hidden disabled></option>
                            <option *ngFor="let manager of managers" value="{{manager.username}}">{{manager.name}}</option>
                </select>
            </div> 
            <div class="col-md-2 align-self-center mb-2">
                <label for="prioridad">Prioridad</label>
                <select class="form-select" formControlName="priority" name="prioridad">
                            <option value="1" selected>BAJA</option>
                            <option value="2">MEDIA</option>
                            <option value="3">ALTA</option>
                            <option value="4">URGENTE</option>
                </select>
            </div> 
            <div class="col-md-2 align-self-center mb-2">
                <label for="user">Usuario</label>
                <select class="form-select" formControlName="username" name="user">
                    <option *ngIf="current_user.rol != 'admin'" value="{{current_user.username}}">{{current_user.name}}</option>
                    <option *ngFor="let user of users" value="{{user.username}}">{{user.name}}</option>
        </select>
            </div>
            <div class="col-md-6 align-self-center mb-2">
                <label class="col-md-12" for="file">F.Adjunto</label>
                <input class="form-control d-inline" formControlName="file" type="file" id="file" (change)="onChangeFile($event)">

            </div>
        </div>

        <div class="row m-0 ticket-background">
            <div class="col-md-3 align-self-center mb-2">
                <label for="category">Categoria</label>
                <select class="form-select" formControlName="category" name="category">
                    <option *ngFor="let category of ticket_categories" value="{{category.category}}">{{category.category_name}}</option>
                </select>
            </div>
            <div class="col-md-9 align-self-center mb-2">
                <label for="title">Título</label>
                <input type="text" name="title" class="form-control" formControlName="title"> 
            </div>
        </div>
    
        <div class="row m-0">
            <div class="col-md p-2">
                <div class="col-md-12 h-100">
                    <div class="col-md-12 align-self-center mb-2">
                        <label for="description" class="text-primary">Descripción</label>
                        <textarea name="description" class="form-control p-3 border-secondary" formControlName="description" rows="20"></textarea>
                        <div class="text-danger" *ngIf="ticketForm.controls['description'].value.length > 765">Los mensajes no pueden tener más de 765 caracteres</div>
                    </div>
                </div>
            </div>
        </div> 
    </form>
</div>


<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" id="confirmModalContent"> 
    </div>
</div>

<div class="modal bd-example-modal-lg" id="awaitBackendModal" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
            <div *ngIf="modalMsg" class='text-center mt-1 text-white'>{{modalMsg}}</div>
        </div>
    </div>
</div>






