.ticket-background{
    background-color: #68c5ed;
}

label{
    margin-right: 5px;
}

.tickets_options{
    transition-duration: 0.4s;
    padding: 20px;
    cursor: pointer;
}

.tickets_options:hover{
    background-color: #1fbcff;
}

.options-images{
    height: 35px;
    width: auto;
}

.options-button{
    margin: 10px;
}

.text-underline{
    -moz-text-decoration-line: underline;
    text-decoration-line: underline;
    -moz-text-decoration-color: blue;
    text-decoration-color: blue;
    color:blue;
    cursor: pointer;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}
  
.bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
}