.main{
    min-height: 815px;
}

.contentpowerbi{
    min-height: 740px;
}

.pwbiCategoryImage{
    height: 150px;
    width: auto;
}

.height-publication-min{
    min-height: 600px !important;
}

@media screen and (max-width: 1200px) {
    .height-publication-min{
        height: 400px !important;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}