.labels{
    font-size: 11px;
}

.container {
    padding: 16px;
}

.inputsForm {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cancelbtn {
    width: 100%;
    padding: 10px 18px;
    background-color: black;
}

.submitButtonDisabled {
    width: 100%;
    padding: 10px 18px;
    background-color: gray;
}

.button-no-clickable{
    cursor: not-allowed;
}

.modal-dialog{
    top: 20%;
}

.modal-content{
    background-color: #fefefe;
    top: 20%;
    margin: auto;
    z-index: 4;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
}

@media screen and (max-width: 864px) {
    .modal-content{
      width: 70%;
    }
}