<div class="main border border-dark">
    <div class="row m-2 text-center align-items-center titlepowerbi border border-dark bg-warning">
        <h2>Power BI Análisis de Datos</h2>
    </div>
    <div class="row m-2 contentpowerbi border border-dark">
        <div class="col-md-9 p-0 border border-dark">
            <div class="row m-2 border border-dark">
                <div class="col-md-12 p-0 bg-info" role="button" *ngFor="let pwbiCat of pwbiCategories">
                    <h3 class="border-bottom border-dark m-0 p-1" *ngIf="current_user_pwbi_permissions.includes(pwbiCat.id)">- {{pwbiCat.name}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 p-0 border border-dark">
            <div class="row m-2 text-center border border-dark">
                <h4 class="col-md-12 m-0 pb-1 bg-warning">Novedades</h4>
            </div>
        </div>
    </div>
</div>
