<div class="main border border-dark">
    <div class="row m-2 text-center align-items-center titlepowerbi border border-dark">
        <h2>Power BI Análisis de Datos</h2>
    </div>
    <div class="row m-2 contentpowerbi border border-dark">
        <div class="col-md-9 p-0 border border-dark">
            <div class="row m-2 border border-dark">
                <div class="col-md-12">1. Apartado 1</div>
                <div class="col-md-12">2. Apartado 2</div>
                <div class="col-md-12">3. Apartado 3</div>
                <div class="col-md-12">4. Apartado 4</div>
                <div class="col-md-12">5. Apartado 5</div>
                <div class="col-md-12">6. Apartado 6</div>
                <div class="col-md-12">7. Apartado 7</div>
                <div class="col-md-12">8. Apartado 8</div>  
            </div>
        </div>
        <div class="col-md-3 p-0 border border-dark">
            <div class="row m-2 text-center border border-dark">
                <h4 class="col-md-12">Novedades</h4>
            </div>
        </div>
    </div>
</div>
