/* @font-face{
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/Quicksand-Regular.otf')
} */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

.toast-top-center {
  top: 10px !important;
}
