/* @font-face{
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/Quicksand-Regular.otf')
} */

html, body{
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
}

.toast-top-center {
  top: 10px !important;
}