<div class="main border border-dark">
    <form [formGroup]="ticketsListForm" method="post">
        <div class="row m-2">
            <div class="col-lg-3 align-self-center mb-2 d-inline">
                <div>
                    <div><span class="text-underline mb-1 me-2">Resumen Tickets I.T</span><span class="border border-dark rounded"><span class="p-2">{{itemsCount}}</span></span></div>
                    <label *ngIf="current_user.rol == 'admin'" ><input formControlName="userMode" type="checkbox"> Modo Usuario</label>
                    <label *ngIf="ticketsListForm.controls['state'].value != 'C'" ><input formControlName="validation" type="checkbox"> Mostrar Pendientes</label>
                </div>
            </div>
            <div class="col-lg-3 align-self-center mb-2">
                <label for="gestor">Gestor</label>
                <select class="form-select" formControlName="manager" id='managerSelectTicketList'title="gestor" name="gestor">
                    <option value="">ALL</option>
                    <option *ngFor="let manager of managers"  value="{{manager.username}}">{{manager.name}}</option>
                </select>
            </div>
            <div class="col-lg-3 align-self-center mb-2">
                <label for="user">Usuario</label>
                <select class="form-select" formControlName="username" name="user">
                    <option *ngIf="current_user.rol != 'admin'" value={{current_user.username}}>{{current_user.name}}</option> 
                    <option *ngIf="current_user.rol == 'admin'" value="" selected>ALL</option>
                    <option *ngFor="let user of users" value="{{user.username}}">{{user.name}}</option>
                </select>
            </div>
            <div class="col-lg-1 align-self-center mb-2">
                <label for="estado">Estado</label>
                <select class="form-select" formControlName="state" title="estado" name="estado">
                    <option value="A" selected>A</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="col-lg-2 align-self-center mb-2">
                <label for="categoria">Categoria</label>
                <select class="form-select" formControlName="category" title="categoria" name="categoria">
                    <option value="">ALL</option>
                    <option *ngFor="let category of ticket_categories" value="{{category.category}}">{{category.category_name}}</option>
                </select>
            </div>
        </div>
    </form>
    <div class="row m-0" id="content-list-tickets">
        <div class="col-md-3 p-0 bg-ticket-blue text-center border border-dark">
            <div class="col-md tickets_options border-bottom border-dark" routerLink="/tickets/create"><h3>Alta Caso</h3></div>
            <div class="col-md tickets_options border-bottom border-dark"><h3>Búsqueda Casos</h3></div>
            <div class="col-md tickets_options border-bottom border-dark"><h3>Manuales</h3></div>
        </div>
        <div class="col-md-9 p-0 mh-100 overflow-auto">
            <table class="table">
                <thead>
                    <tr class="bg-ticket-blue text-center">
                        <th scope="col" class="border border-dark">Caso</th>
                        <th scope="col" class="border border-dark">Fecha</th>
                        <th scope="col" class="border border-dark">Título</th>
                        <th scope="col" class="border border-dark">Usuario</th>
                        <th scope="col" class="border border-dark">Gestor</th>
                        <th scope="col" class="border border-dark">Categoria</th>
                        <th scope="col" class="border border-dark">Prioridad</th>
                        <th scope="col" class="border border-dark">Posicion</th>
                        <th scope="col" class="border border-dark">Tiempo</th>
                    </tr>
                    <ng-container *ngIf="current_user.rol == 'user'">
                        <tr *ngFor="let ticket of tickets | paginate : {itemsPerPage: itemsPerPage,currentPage: page,totalItems: itemsCount};" class="text-center border-bottom border-dark" role="button" (click)="getTicketL(ticket.code)">
                            <td class='text-underline' [ngClass]="getTicketClasses(ticket)">{{ticket.code}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.date | ddMmYYYYDate}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.title}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.user}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.manager}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.category}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.priority}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.position}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.time}}</td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="current_user.rol == 'admin'">
                        <tr *ngFor="let ticket of tickets | paginate : {itemsPerPage: itemsPerPage,currentPage: page,totalItems: itemsCount};" class="text-center border-bottom border-dark" role="button" (click)="getTicketL(ticket.code)">
                            <td class='text-underline' [ngClass]="getTicketClasses(ticket)">{{ticket.code}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.date | ddMmYYYYDate}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.title}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.user}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.manager}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.category}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.priority}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.position}}</td>
                            <td [ngClass]="getTicketClasses(ticket)">{{ticket.time}}</td>
                        </tr>
                    </ng-container>
                </thead>
            </table>
            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="paginationChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>  
</div>