.main{
    min-height: 815px;
}

#content-list-tickets{
    min-height: 727px !important;
}

.font-weight-bold{
    font-weight: bold;
}

label{
    margin-right: 5px;
}

th{
    padding: 0;
}

td{
    padding: 4px;
}

.ticket-background{
    background-color: #68c5ed;
}

.bg-ticket-blue{
    background-color: #68c5ed;
}

.tickets_options{
    transition-duration: 0.4s;
    padding: 20px;
    cursor: pointer;
}

.tickets_options:hover{
    background-color: #1fbcff;
}

.text-underline{
    -moz-text-decoration-line: underline;
    text-decoration-line: underline;
    -moz-text-decoration-color: blue;
    text-decoration-color: blue;
    color:blue;
    cursor: pointer;
}

