<div class="main border border-dark">
    <form [formGroup]="ticketsListForm" method="post">
        <div class="row m-2">
            <div class="col-lg-3 align-self-center mb-2">
                <div class="text-underline">Resumen Tickets I.T</div>
            </div>
            <div class="col-lg-3 align-self-center mb-2">
                <label for="gestor">Gestor</label>
                <select class="form-select" formControlName="manager" title="gestor" name="gestor">
                    <option value="">--ALL--</option>
                    <option *ngFor="let manager of managers" value="{{manager.username}}">{{manager.name}}</option>
                </select>
            </div>
            <div class="col-lg-3 align-self-center mb-2">
                <label for="user">Usuario</label>
                <select class="form-select" formControlName="username" name="user">
                    <option *ngIf="user.rol != 'admin'" value={{user.username}}>{{user.name}}</option> 
                    <option *ngIf="user.rol == 'admin'" value="" selected>---ALL---</option>
                    <option *ngFor="let user of users" value="{{user.username}}">{{user.name}}</option>
                </select>
            </div>
            <div class="col-lg-1 align-self-center mb-2">
                <label for="estado">Estado</label>
                <select class="form-select" formControlName="state" title="estado" name="estado">
                    <option value="A" selected>A</option>
                    <option value="C">C</option>
                </select>
            </div>
            <div class="col-lg-2 align-self-center mb-2">
                <label for="categoria">Categoria</label>
                <select class="form-select" formControlName="category" title="categoria" name="categoria">
                    <option value="">--ALL--</option>
                    <option value="GRAL" selected>General</option>
                </select>
            </div>
        </div>
    </form>
    <div class="row m-0" style="min-height: 700px;">
        <div class="col-md-3 mh-100 p-0 ticket-background text-center border border-dark">
            <div class="col-md-12 tickets_options border-bottom border-dark" routerLink="/tickets/create"><h3>Alta Caso</h3></div>
            <div class="col-md-12 tickets_options border-bottom border-dark"><h3>Búsqueda Casos</h3></div>
            <div class="col-md-12 tickets_options border-bottom border-dark"><h3>Manuales</h3></div>
        </div>
        <div class="col-md-9 p-0 mh-100 overflow-auto">
            <table class="table">
                <thead>
                    <tr class="ticket-background text-center">
                        <th scope="col" class="border border-dark">Caso</th>
                        <th scope="col" class="border border-dark">Fecha</th>
                        <th scope="col" class="border border-dark">Título</th>
                        <th scope="col" class="border border-dark">Usuario</th>
                        <th scope="col" class="border border-dark">Gestor</th>
                        <th scope="col" class="border border-dark">Prioridad</th>
                        <th scope="col" class="border border-dark">Posicion</th>
                        <th scope="col" class="border border-dark">Tiempo</th>
                    </tr>
                    <ng-container *ngIf="user.rol == 'user'">
                        <tr *ngFor="let ticket of tickets" class="text-center border-bottom border-dark" role="button" (click)="getTicketL(ticket.code)">
                            <td class='text-underline' [ngClass]="{'bg-ticket-blue': ticket.validation == -1}">{{ticket.code}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == -1}">{{ticket.date | ddMmYyyyHHMMDate}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == -1}">{{ticket.title}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == -1}">{{ticket.user}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == -1}">{{ticket.manager}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == -1}">{{ticket.priority}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == -1}">{{ticket.position}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == -1}">{{ticket.time}}</td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="user.rol == 'admin'">
                        <tr *ngFor="let ticket of tickets" class="text-center border-bottom border-dark" role="button" (click)="getTicketL(ticket.code)">
                            <td class='text-underline' [ngClass]="{'bg-ticket-blue': ticket.validation == 0}">{{ticket.code}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == 0}">{{ticket.date | ddMmYyyyHHMMDate}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == 0}">{{ticket.title}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == 0}">{{ticket.user}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == 0}">{{ticket.manager}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == 0}">{{ticket.priority}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == 0}">{{ticket.position}}</td>
                            <td [ngClass]="{'bg-ticket-blue': ticket.validation == 0}">{{ticket.time}}</td>
                        </tr>
                    </ng-container>
                </thead>
            </table>
        </div>
    </div>  
</div>