<div class="wrapper">
  <header class="header">
    <nav class="navbar navbar-expand-lg p-0" id="header-navbar">

      <div class="container-fluid p-0">
        <div class="brand">
          <img src="assets/images/SS_icon.svg" role="button" height="50px" width="60px" class="ms-2 me-2" routerLink="/home">
          <button class="navbar-toggler bg-white me-2" type="button" id="toggle-btn" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="ms-auto" data-bs-toggle="collapse">
          <ul class="navbar-nav d-inline">
            <li class="nav-item d-inline nav-text-option">
              <a class="navbar-toggler text-white btn"  *ngIf="authService.logged_user" (click)="logout()">LOGOUT</a>
            </li>
            <li class="nav-item d-inline">
              <button *ngIf="authService.logged_user" class="navbar-toggler" type="button" data-bs-toggle="collapse" routerLink="/user-profile">
                <img src="assets/images/user_icon.png" class="navbar_icon rounded-circle">
              </button>
            </li>
            <li class="nav-item d-inline">
              <button *ngIf="!authService.logged_user" class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" routerLink="/log-in">
                <img src="assets/images/user_icon.png" class="navbar_icon rounded-circle">
              </button>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <a class="navbar-brand" routerLink="/home" id="ss_text"><span>SILVER SANZ</span></a>
          <h1 class="collapse-navbar-title">Silver Sanz</h1>
          <ul class="navbar-nav" id="navbar-left-options">
            <li class="nav-item container text-center navbar-left-item">
              <a class="nav-link nav-text-option" routerLink="/home">HOME</a>
            </li>
            <li class="nav-item container text-center navbar-left-item" *ngIf="!authService.logged_user">
              <a class="nav-link nav-text-option" routerLink="/log-in">LOGIN</a>
            </li>
            <li class="nav-item container text-center navbar-left-item" *ngIf="authService.logged_user && authService.currentUser.powerbi_permissions != ''">
              <a class="nav-link nav-text-option" routerLink="/pwbi/home">POWERBI</a>
            </li> 
            <li class="nav-item container text-center navbar-left-item" *ngIf="authService.logged_user">
              <a class="nav-link nav-text-option" routerLink="/tickets/list">TICKETS<span *ngIf="ticketService.ticketsPendingNoViewedCount > 0" class="ms-2 ps-1 pe-1 text-danger border border-danger rounded-4">{{ticketService.ticketsPendingNoViewedCount}}</span></a>
            </li>
            <li class="nav-item container text-center navbar-left-item" *ngIf="authService.logged_user">
              <a class="nav-link nav-text-option" routerLink="/users/search">USUARIOS</a>
            </li> 
          </ul>
          <ul class="navbar-nav ms-auto" id="navbar-right-options">
            <li class="nav-item align-self-center">
              <a class="nav-link text-white btn" *ngIf="authService.logged_user" (click)="logout()">LOGOUT</a>
            </li> 
            <li class="nav-item align-self-center" *ngIf="authService.logged_user">
              <a class="nav-link text-white">Bienvenido {{authService.currentUser.name}}!</a>
            </li>
            <li class="nav-item align-self-center" *ngIf="authService.logged_user">
              <a class="nav-link btn" routerLink="/user-profile"><img alt="user_icon" src="assets/images/user_icon.png" class="navbar_icon rounded-circle"></a>
            </li>
            <li class="nav-item align-self-center" *ngIf="!authService.logged_user">
              <a class="nav-link btn" routerLink="/log-in"><img alt="user_icon" src="assets/images/user_icon.png" class="navbar_icon rounded-circle ms-3"></a>
            </li>
          </ul>
        </div>
      </div>

    </nav>
  </header>

  <div class="body-content">
      <router-outlet></router-outlet>
  </div>

  <footer class="footer">
      <p class="m-0">Developed by SilverSanz SA</p>
  </footer>
</div>
  
